body {
   font-family: 'Rubik',
      sans-serif;
   font-weight: 1000;

}

.strong {
   font-family: 'Titillium Web',
      sans-serif;
   font-size: 1em;
   line-height: 1em;
   font-weight: 1000;
   padding: 1%;
}

.principal {
   height: auto;
}



.cabecalho__titulo,
.rodape__titulo {
   text-transform: uppercase;
   letter-spacing: -3px;
}

.cabecalho {
   background-color: #004861;
   color: white;
   text-align: center;
   padding: 1%;
   font-size: 4em;
   position: relative;

}

.cabecalho__dois-pontos {
   color: #d5e11f;

}

.cabecalho__menu {
   position: absolute;
   left: 2%;
   top: 42%;


}

.cabecalho__menu rect {
   fill: aliceblue;
}

.rodape {
   background-color: #d5e11f;
   color: #004861;
   display: flex;
   justify-content: space-between;
   padding: 5%;
   font-size: 2em;

}

.rodape__dois-pontos {
   color: white;
   margin-left: 5px;
}

.rodape__infos {
   color: black;
   font-size: 0.3em;
   text-align: right;
   padding-top: 2%;
   font-family: 'Roboto',
      sans-serif;
   text-transform: uppercase;
}

/* -------------------imagens carregadas sec1--------------------- */
.principal__destaques {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 1fr 0.3fr 0.3fr;

}

.principal__destaques>:nth-child(1) {
   grid-column: 1/3;

}

.principal__destaques> :nth-child(2) {
   grid-column: 3/-1;
}

.principal__destaques>:nth-child(1),
.principal__destaques>:nth-child(2) {
   position: relative;
   margin: 5% 5% 0;
}

.principal__destaques>:nth-child(1)>img,
.principal__destaques>:nth-child(2)>img {
   width: 100%;
   display: block;
}

.principal__destaques>:nth-child(1)>.legenda,
.principal__destaques>:nth-child(2)>.legenda {
   position: absolute;
   bottom: 20%;
   width: 100%;
   font-size: 0.8em;
   line-height: 1.2em;
   color: white;
   padding: 5%;
}

.principal__destaques>:nth-child(1)>.legenda>.legenda__titulo,
.principal__destaques>:nth-child(2)>.legenda>.legenda__titulo {
   padding: 1% 0;

}

.principal__destaques> :nth-child(3) {
   grid-column: 1/3;

}

.principal__destaques> :nth-child(4) {
   grid-column: 3/-1;
}

.principal__destaques>:nth-child(3),
.principal__destaques>:nth-child(4) {
   display: flex;
   align-items: stretch;
   margin: 2% 5% 0;
}

.principal__destaques>:nth-child(3)>.legenda,
.principal__destaques>:nth-child(4)>.legenda {
   width: 50%;
   height: 100%;
   padding: 2%;
   font-size: 1.1em;
   line-height: 1.2em;
}

.principal__destaques>:nth-child(3)>img,
.principal__destaques>:nth-child(4)>img {
   width: 50%;

}


.principal__destaques> :nth-child(5) {
   grid-column: 1/2;
   margin: 4% 2% 0 10%;

}

.principal__destaques> :nth-child(6) {
   grid-column: 2/3;
   margin: 4% 10% 0 2%;
}

.principal__destaques> :nth-child(7) {
   margin: 4% 2% 0 10%;
   grid-column: 3/4;
}

.principal__destaques> :nth-child(8) {
   margin: 4% 10% 0 2%;
   grid-column: 4/-1;

}

.principal__destaques>:nth-child(5)>.legenda,
.principal__destaques>:nth-child(6)>.legenda,
.principal__destaques>:nth-child(7)>.legenda,
.principal__destaques>:nth-child(8)>.legenda {
   width: 100%;
   font-size: 0.8em;
}

.principal__destaques>:nth-child(5)>img,
.principal__destaques>:nth-child(6)>img,
.principal__destaques>:nth-child(7)>img,
.principal__destaques>:nth-child(8)>img {
   width: 100%;

}

.destaques label {
   text-transform: uppercase;
   font-size: 0.8em;
   padding-bottom: 2%;
}

.principal__destaques>:nth-child(3)>.legenda label,
.principal__destaques>:nth-child(4)>.legenda label,
.principal__destaques>:nth-child(5)>.legenda label,
.principal__destaques>:nth-child(6)>.legenda label,
.principal__destaques>:nth-child(7)>.legenda label,
.principal__destaques>:nth-child(8)>.legenda label {
   color: #004861;
   font-weight: 10000;
}

.legenda__titulo {
   padding: 2% 0 3.5%;
   font-size: 1.2em;
   font-weight: bolder;
}

/* -------------------imagens carregadas sec1 FIM --------------------- */
.faixa-cinza {
   width: 100%;
   padding: 3%;
   background-color: #eeeeee;
   display: flex;
   border-top: 0.5px solid #cccccc;
   border-bottom: 0.5px solid #cccccc;
   margin: 2% 0;
}

.faixa-cinza input {
   width: 80%;
   margin: auto;
   padding-bottom: 8%;
   background-color: #cccccc;
   border: 0.5px solid #6d6d6d;

}

::-webkit-input-placeholder {
   color: #6d6d6d;
   text-transform: uppercase;
   font-size: 0.8em;
   padding: 2% 1%;
}

/* -------------------imagens carregadas sec2e3--------------------- */
.principal__titulo {
   color: #004861;
   text-transform: uppercase;
   font-size: 1.6em;
   margin-left: 1.8%;
}

.principal__brasil,
.principal__mundo {
   display: flex;
   margin: 0 1%;
   justify-content: center;
}

.brasil,
.mundo {
   padding: 1%;
   flex-basis: content;

}

.legenda {
   width: 100%;
   font-size: 0.8em;
}

.legenda label {
   color: #004861;
   text-transform: uppercase;
   font-size: 0.7em;
}

/* -------------------imagens carregadas sec2e3 FIM--------------------- */
.faixa-branca {
   display: flex;
   justify-content: flex-end;
   text-transform: uppercase;
   color: #004861;
   font-size: 1.2em;
   border-bottom: solid 0.5px #cccccc;
   border-top: solid 0.5px #cccccc;
   padding: 0.5%;
   margin: 1% 2% 5%;
}